body {
  margin: 0;
  padding: 0;
  margin: 0;
}
section {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

p {
  padding: 100px;
  border: 1;
  background-color: lightblue;
}
